*{
    padding: 0;
    margin: 0;
}
/* navbar */
.nav{
    display: flex;
    align-items: center;
    background-color: grey;
    position: fixed;
}
.events h1{
    color: white;
}

.logo{
    width: 40%;
}
.logo img{
    width: 20%;
   margin: 0.1rem;
}
.events{
    width: 40%;
}
.events ul{
    display: flex;
    margin-left: 10rem;
}
.events ul li{
list-style: none;
margin: 1rem;
}
.events ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.events ul li a:hover{
  color: #f2c840; 
}
.btn{
    background: grey;
    color: white;
    height: 3rem;
    width:10%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    border-radius: 10px;
}
.btn a{
    text-decoration: none;
    color: white;
}

.btn:hover{
    color: black;
    background: #f2c840;
    cursor: pointer;
    transform: scale(1.2);
}

.main{
width: 100%;
height: 100vh;
background-image: url("img1.jpg");
background-size: cover;
overflow: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login{
    margin-top: 5rem;
    background-color: black;
    width: 160vh;
    height: 80vh;
    border-radius: 20px;
    opacity: 0.5;
    color: white;
}
.login h1{
    font-size: 3.5rem;
    color: white;
    margin: 2rem;
}
.list2{
    margin-left: 2rem;
}
.list2 ol li{
    margin: 1rem;
}







