*{
    padding: 0;
    margin: 0;
}
/* navbar */
.nav{
    display: flex;
    align-items: center;
    background-color: grey;
    position: fixed;
}
.logo{
    width: 50%;
}
.logo img{
    width: 20%;
}
.events{
    width: 40%;
}
.events ul{
    display: flex;
    margin-left: 10rem;
}
.events ul li{
list-style: none;
margin: 1rem;

}
.events ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.btn{
    background: grey;
    color: white;
    height: 3rem;
    width:10%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    border-radius: 15px;
}
.btn a{
    color: white;
    text-decoration: none;
}

.btn:hover{
    color: black;
    background: #f2c840;
    cursor: pointer;
    transform: scale(1.1);
}
.events ul li a:hover{
    color: #f2c840;
}
/******* content********* */

.sem-events{
    width: 100%;
    height: 100vh;
    background-image: url(seminarhall2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.sem-events1{
    height: 25rem;
    width: 20rem;
    border: 2px solid black;
    background-image: url(birthday.jpg);
    background-size: cover;
    color: transparent;
    text-align: center;

}
.sem-events2{
    height: 25rem;
    width: 20rem;
    border: 2px solid black;
    background-image: url(seminar.jpg);
    background-size: cover;
    color: transparent;
    text-align: center;
    
}
.sem-events3{
    height: 25rem;
    width: 20rem;
    border: 2px solid black;
    background-image: url(seminarhall.jpg);
    background-size: cover;
    color: transparent;
    text-align: center;
}
.sem-events3:hover{
    color: white;
    font-size: 1.4rem;
}
.sem-events1:hover{
    color: white;
    font-size: 1.4rem;
}
.sem-events2:hover{
    color: white;
    font-size: 1.4rem;
}
.font{
    font-size: 2rem;
    color: white;
}
/* *******footer */
.footer{
    height: 20rem;
    width: 100%;
    background-color: #201a16;
}
.contact{
    color: white;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-icons{
    display: flex;
    
}
.icon{
    margin-left:45px ;
    font-size: 2rem;
}
.address{
    color: white;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}